.task {
  padding: 30px 10px;
  margin: auto;
  list-style: none;
}

.task__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task__button {
  color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}

.task__button--done {
  background-color: #08641f;
}

.task__button--done:hover {
  background-color: #077e25;
}

.task__button--remove {
  background-color: #db0505;
}

.task__button--remove:hover {
  background-color: #fa1212;
}

.task__content--done {
  text-decoration: line-through;
}